body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    cursor: pointer;
}

button {
    background-color: #2a5b8f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.reset{
    background-color: rgb(155, 32, 32);
}

.reset:hover{
    background-color: rgb(123, 25, 25);
}

.inc{
    background-color: rgb(210, 183, 140);
    color: black;
}
.inc:hover {
    background-color: rgb(183, 160, 122);
}
.cli{
    background-color: rgb(140, 210, 204);
    color: black;
}
.cli:hover {
    background-color: rgb(121, 182, 177);
}
