body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    cursor: pointer;
}

button {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    border: 1px solid #fff;
    border-radius: 0px;
    width: 9rem;
    cursor: pointer;
    font-size: 16px;
   
}

.reset{
    background-color: rgb(155, 32, 32);
}

.reset:hover{
    background-color: rgb(123, 25, 25);
}

#incrementors{
    background-color: rgb(210, 183, 140);
    color: black;
}

#clickers{
    background-color: rgb(140, 210, 204);
    color: black;
}


.tab{
    display: "none";
}
