/* Global variables. */

.customSpan{
  background-color: black;
  margin: 0px auto;
  padding: 0px 20px;
  color: white;
}
.customSpan:visited {
  color:white;
}
.customSpan:hover {
  background-color: rgb(180,120,0);
}
.active{
  background-color: rgb(90,60,0);
}

table{
  margin: 0px auto;
  color: black;
  margin-bottom: 20px;
}
caption{
  color: white;
}
td, th{
  text-align: center;
  padding: 0px 10px;
  border: 2px solid gray;
}
table tr:nth-child(even){
  background-color: rgb(180,180,180);
}
tr{
  background-color: rgb(210,210,210);
}
th,thead{
  color: lightgray;
  font-weight: bold;
}