/* Global variables. */

.customSpan{
  background-color: black;
  margin: auto;
  display: block;
  text-align: center;
}
.active{
  background-color: rgb(90,60,0);
}


.customSpan a{
  color: white;
}
